* {
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #283018;
}

.body-style {
    background-color: #ffffff;
}

.page-container {
    background-color: #ffffff;
    background-size: 100%;
}

.container {
    margin: 5px;
}

.page-container {
    padding: 10px;
}

.formContainer,
.entry-container {
    margin: 20px;
    background-color: #F2EFEE;
    padding: 20px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: #729f98;
}

.entry-container:hover {
    border-color: #E88000;
}

.well.formContainer {
    padding-top: 30px;
}

.form-heading {
    margin-bottom: 20px;
    color: #283018;
}

.a-custom,
.a-custom:visited {
    color: #E88000;
}

.a-custom:active {
    color: #729f98;
}

.btn-custom {
    background-color: #E88000;
    color: #283018;
}

.form-control-custom:focus {
    border-color: transparent;
}